*{font-family: 'Open Sans', sans-serif;}

.card-title{
  font-family: 'Alfa Slab One', cursive;
  font-size: 35px;
}
.btn-primary{
  background-color:#4dffdb;
  border-color:#4dffdb;
  color:black;
}

.card-body{
  background-color: rgba(255, 255, 255,0.5) ;
  border-radius: 25px;
  margin: 10px;
}


p{
  font-weight: 600;
}

.cards{
  border-radius: 20px;
  border-color: black;
  padding: 5px;
  margin:0 auto;
  font-weight: 700;

}

.followSub{
  display: block;
  border-radius: 20px;
}

.newJem{
  display:block;
  margin:0 auto;
  padding: 10px;
  border-radius: 20px;
  padding-right: 106px;
  padding-left: 106px;
  margin-top: 30px;
  margin-bottom: 30px;
  width:fit-content;
  background-color: black;
  color:white;

}

.insertSub{
  display:block;
  /*margin:0 auto;*/
  /*padding: 10px;*/
  border-radius: 20px;
  padding-right: 81px;
  padding-left: 88px;
  margin-top: 30px;
  margin-bottom: 30px;
  width:fit-content;
  background-color: black;
  border-color: black;

}

.myCard{
  background-color: black;
  border-color: black;
  border-radius: 5px;
  margin:0 auto;
  
}

.welcomeText{
  color:red;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
}

.padding5 {
  padding: 10px;
}

.backgroundBlack{
  background-color: black;
}

.paddinTop5{
  padding-top: 5px;
}


.marginTop20{
  margin-top: 20px;
}

.textCenter{
  text-align: center;
}

.searchTxt{
  color:white;
  text-align: center;
}

a{
 color:#4dffdb;
}

.inputWidth{
  width:132px;
  margin-left:4px;
}