*{font-family: arial;}

p{
  font-weight: bold;
}

.cards{
  border-radius: 20px;
  border-color: black;
  padding: 5px;
  margin:0 auto;
}

.followSub{
  display: block;
  border-radius: 20px;
}

.newJem{
  display:block;
  margin:0 auto;
  padding: 10px;
  border-radius: 20px;
  padding-right: 106px;
  padding-left: 106px;
  margin-top: 30px;
  margin-bottom: 30px;
  width:fit-content;
  background-color: black;

}

.insertSub{
  display:block;
  /*margin:0 auto;*/
  /*padding: 10px;*/
  border-radius: 20px;
  padding-right: 81px;
  padding-left: 88px;
  margin-top: 30px;
  margin-bottom: 30px;
  width:fit-content;
  background-color: black;
  border-color: black;
}

.myCard{
  background-color: black;
  border-color: black;
  border-radius: 5px;
  margin:0 auto;

}

.welcomeText{
  color:red;
  font-size: 15px;
  padding: 10px;
  padding-left: 20px;
}

.padding5 {
  padding: 10px;
}

.backgroundBlack{
  background-color: black;
}

.padding10{
  padding: 10%;
}

.paddinTop5{
  padding-top: 5px;
}


.marginTop20{
  margin-top: 20px;
}

.textCenter{
  text-align: center;
}