.cards{
  border-radius: 20px;
  border-color: black;
  padding: 5px;
}

.followSub{
  display: block;
  border-radius: 20px;
}

.newJem{
  padding: 10px;
  border-radius: 20px;
  padding-right: 106px;
  padding-left: 106px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.stam{
  background-color: black;
  color: white;
}

.myCard{
  background-color: black;
  border-color: black;
  border-radius: 5px;
}
